

# Visual Studio Code #
.vscode/*

# plots
# plots/
# Results/

# test
/random_test.py

# Any locked file
~.*.*
.~lock.cn_provider_pricing_dummy.csv#
.idea/
__pycache__/

# If you are using PyCharm #
.idea/
*.iws /out/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
regvenv/
reg_pycaret/

../simple_linear_reg.py
../reg_dataset.py
../multi_linear_reg.py
../pol_reg.py

